SIO:CFG_1.0:7:0::
#
FIREWALL_MANAGEMENT:

      -Name "RapidSockets"

      -Name "RobotWebServices" -EnableOnPrivateNet 

      -Name "Netscan" -EnableOnPrivateNet 

      -Name "OpcUaServer" -EnableOnPrivateNet 
#
SYSLOG:

      -Name "SYSLOG"
#
IP_SETTING:

      -Name "Public Network" -DHCP 

      -Name "IO Network"
#
DNSC:

     
      -Name "DNSC"
#
CSE_CONFIG:

      -Name "RSCON" -ProxyPwd "kRlZGPdnmZxzbqCOT7RlAb9kzqCesx8goTtbhZlxRHacKzUQ"\
      -HTTPPassword "+TfQ4lwuxktLVj6sdIxTm9Fol1NseJ4owtREmLbdMQa+xS25"\
      -MQTTPassword "+9G4/ZHrtnNxhBFkTEFkRQ5rVAtn2pxNUhkDHVVvDhYr0orF"
#
CSGW_CELLULAR:

      -Name "CSGW" -Pin "5qwaValV+SRMVmeegzDocT6Vtqm6pqX0FSOld6ExdkWMsl1F"\
      -Password "gZ4EHe/EXLo/2kOK3d6iyXDc3GoUd8dKHP/eAGYeAnCIqdgW"
#
CSGW_WIRELESS:

      -Name "CSGW" -Key "WeKrjx5W/NlA0rZZCN8Vg5RGNwy9ZGI1D7LDmWbsNquk/vKi"
#
CSGW_WIRED:

      -Name "CSGW"

#CTRL_SIGNATURE:947qzJCwJEgxDCDAbKbgSPRmKJY5nhpZQFWg2A/jtkSDYS9yw34SVU0T+0UfmUXgKNWh0QxrbhCaW2r9kEbxKQ==