EIO:CFG_1.0:7:0::
#
VIRTUAL_NETWORK:

      -Name "Virtual" -Label "Virtual Device Network"
#
EIO_SIGNAL:

      -Name "ErrorState" -SignalType "DO" -Access "All"

      -Name "restartProgram" -SignalType "DO" -Access "All"

      -Name "startOver" -SignalType "DO" -Access "All"

      -Name "continous" -SignalType "DO" -Access "All"

      -Name "programmableLamp" -SignalType "DO" -Access "All"

#CTRL_SIGNATURE:PlZK7hZ2s2VtOSqWU+EVr+jHUUHVcThIoKtwOD0tSdou/FUAzsk0xkSVzQWUBcWyMFe4gYf1E6Z8ydLIOs/yxg==