SIO:CFG_1.0:7:0::
#
FIREWALL_MANAGEMENT:

      -Name "RapidSockets"

      -Name "RobotWebServices" -EnableOnPrivateNet 

      -Name "Netscan" -EnableOnPrivateNet 

      -Name "OpcUaServer" -EnableOnPrivateNet 
#
SYSLOG:

      -Name "SYSLOG"
#
IP_SETTING:

      -Name "Public Network" -DHCP 

      -Name "IO Network"
#
DNSC:

     
      -Name "DNSC"
#
CSE_CONFIG:

      -Name "RSCON" -ProxyPwd "Sw25530s5epSCMhBYzd9+4YG1JUDpE6DVVAr9sttrblIQc9/"\
      -HTTPPassword "fqnVbQ80t+A+OURfgwjM9vTjPJoAH1ZfOuE6VgN+Dzpn1gav"\
      -MQTTPassword "IO+mBnIKYLQQHrSX5QkVvt+YvdgVHlNujbVWoLNuY5EKb8hM"
#
CSGW_CELLULAR:

      -Name "CSGW" -Pin "ax6pJMk5hF4QbQUl5CF5icJ7zkwCqQwWqWNOrhqriWWB6KcZ"\
      -Password "rAHo9wwZGPRgF3fVIBnbAB/YQafYCo2Y/FgaH+YY0CW28Y2B"
#
CSGW_WIRELESS:

      -Name "CSGW" -Key "TwNOsRCqTFH3rANY5XFBu6n4CenT/OolY7KUOjqpOLu7hP5H"
#
CSGW_WIRED:

      -Name "CSGW"

#CTRL_SIGNATURE:F4A2qFADe5Z65EFnTGiL240fPCrV9bYs0/NlZE/5eHV9RvIB7Fcudfb65vTsunG/f7RuBLBEGUij+1vWCSl9gQ==