EIO:CFG_1.0:7:0::
#
VIRTUAL_NETWORK:

      -Name "Virtual" -Label "Virtual Device Network"

#CTRL_SIGNATURE:93dqukuH6Gh5VJGlgSPK/YIMDKqtVANERZ3kiMcbnra4YR+9Xsd7hpQuYiC4NVzcGCOyGVCVjDOmHH8eTWh97g==