SIO:CFG_1.0:7:0::
#
FIREWALL_MANAGEMENT:

      -Name "RapidSockets"

      -Name "RobotWebServices" -EnableOnPrivateNet 

      -Name "Netscan" -EnableOnPrivateNet 

      -Name "OpcUaServer" -EnableOnPrivateNet 
#
SYSLOG:

      -Name "SYSLOG"
#
IP_SETTING:

      -Name "Public Network" -DHCP 

      -Name "IO Network"
#
DNSC:

     
      -Name "DNSC"
#
CSE_CONFIG:

      -Name "RSCON" -ProxyPwd "E9qSkjFBVTdFf+aMjkJOO7/LBZGfpih0/FG28USs8pwZmxy9"\
      -HTTPPassword "hWy/F09fWkt6YWTHcFXCTBTgdHZsHtabDdcX3gJtikxY7eea"\
      -MQTTPassword "pU9fhkjNRCUmFPrX2Xlp9Sn2C07NyJTwZi83rz01Sh/kBtu7"
#
CSGW_CELLULAR:

      -Name "CSGW" -Pin "HEL7uHN+amPCfXKj5nEgTozjI8LYnMJpY1bwPBm4OE0ONyC+"\
      -Password "bzOgearPzFRTGfnetNaYl5ycIWKNbth0nsvkLBGbn1id69OM"
#
CSGW_WIRELESS:

      -Name "CSGW" -Key "keqorP2lRAQiRFPC6ysm+iqe2FlgVXfET+tAxNWkSlI21jIW"
#
CSGW_WIRED:

      -Name "CSGW"

#CTRL_SIGNATURE:uEKZAc1Qx8BD0l8bpUz/usJHHPm8HpgmCvdaiZpAjKeZJxU8MP3uuGab9FaoqMqrrCeetuljTgPqSWX7WtKwkA==